{{- $colors := include (joinPath .chezmoi.sourceDir "dot_config/colors/chrome-pulse-pink.yaml") | fromYaml -}}
prompt=
insensitive=true
hide_scroll=true
show=drun
allow_images=true
image_size=32
allow_markup=true
no_actions=false
term=foot

