{{- $colors := .colors -}}
$bg = rgb({{ trimPrefix "#" $colors.bg }})
$surface0 = rgb({{ trimPrefix "#" $colors.surface0 }})
$surface1 = rgb({{ trimPrefix "#" $colors.surface1 }})
$shadow = rgba({{ trimPrefix "#" $colors.shadow }}ee)
$fg = rgb({{ trimPrefix "#" $colors.fg }})
$fg_dim = rgb({{ trimPrefix "#" $colors.fg_dim }})
$fg_alt = rgb({{ trimPrefix "#" $colors.fg_alt }})
$accent = rgba({{ trimPrefix "#" $colors.accent }}ee)
$accent_alt = rgba({{ trimPrefix "#" $colors.accent_alt }}ee)
$border = rgba({{ trimPrefix "#" $colors.border }}aa)
$highlight = rgb({{ trimPrefix "#" $colors.highlight }})
$warning = rgb({{ trimPrefix "#" $colors.warning }})
$error = rgb({{ trimPrefix "#" $colors.error }})
$success = rgb({{ trimPrefix "#" $colors.success }})
$cyan_accent = rgba(00FFFFaa)
$pink_glow = rgba({{ trimPrefix "#" $colors.accent }}44)
